---
interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className, ...props } = Astro.props
---

<div
	{...props}
	class={`flex flex-col items-center justify-center gap-2 ${className}`}
>
	<slot />
</div>
