---
import Robot from "@/icons/robot.astro"
---

<section class="mt-20">
	<h2 class="flex items-center gap-5 text-2xl font-bold">
		<Robot class="size-8 stroke-2" /> Sobre mí
	</h2>

	<div class="mt-5"></div>
</section>
