---
import CardExperience from "@/components/CardExperience.astro"
import { MAX_WIDTH } from "@/constants/max-width"
import { experience } from "@/data"
---

<section class="flex w-full flex-col items-center py-48">
	<header
		class="relative mb-24 flex w-full text-balance flex-col items-center justify-center"
	>
		<div class="absolute left-0 top-14 h-0.5 w-full bg-foreground/50"></div>
		<p class="text-xs [&>span]:mx-2 mb-3 font-oxanium">
			1+ AÑO DE EXPERIENCIA 
			<span>•</span>
			DISPONIBLE
			<span>•</span>
			CONTÁCTAME
		</p>
		<h2 class="flex items-center gap-5 text-5xl font-bold text-center">
			Experiencia Laboral
		</h2>
	</header>

	<div class="flex w-full flex-col gap-5" style=`max-width: ${MAX_WIDTH}px`>
		{experience.map((exp) => <CardExperience experience={exp} />)}
	</div>
</section>
