---
import GitHub from "@/icons/github.astro"
import LinkedIn from "@/icons/linkedin.astro"
import Mail from "@/icons/mail.astro"
import { Image } from "astro:assets"
---

<section class="flex w-full items-center justify-center gap-10 pt-24">
	<div
		class="card-glowing relative h-min w-full max-w-[60ch] rounded-md bg-primary-blur p-5 pt-10 shadow-inner shadow-glow md:pt-5"
	>
		<div
			class="absolute -top-[66px] left-0 flex items-center justify-center gap-4 md:hidden"
		>
			<Image
				src="https://files.cults3d.com/uploaders/25462948/illustration-file/c26167c5-c48b-4702-99b1-1b4750216d28/untitled.2.jpg"
				alt="asdf"
				width={50}
				height={50}
				style="animation-duration: 0.2s"
				class="h-20 w-20 animate-fade-in-up rounded-full bg-primary object-cover shadow-2xl shadow-primary"
			/>
			<span
				class="absolute bottom-1 left-14 flex h-4 w-4 animate-fade-in-up items-center justify-center"
				style="animation-duration: 0.3s"
			>
				<span
					class="absolute inline-flex h-full w-full animate-spin rounded-full bg-green opacity-75 animate-iteration-count-infinite"
				></span>
				<span
					class="relative inline-flex h-full w-full rounded-full border border-white bg-green"
				></span>
			</span>

			<p
				class="animate-fade-in-up rounded-full bg-primary-blur p-1 px-4 shadow-2xl shadow-primary"
				style="animation-duration: 0.2s"
			>
				@diegosiac
			</p>
		</div>

		<h1
			class="mb-5 animate-fade-in-up text-3xl font-extrabold"
			style="animation-duration: 0.35s"
		>
			Aquí <span class="text-orange">Diego Cruz</span> comentando
		</h1>
		<p
			class="animate-fade-in-up text-xl leading-tight"
			style="animation-duration: 0.4s"
		>
			Desarrollador web con sólida experiencia en ReactJS y NodeJS.
		</p>
		<div
			class="mt-10 flex animate-fade-in-up flex-wrap gap-2"
			style="animation-duration: 0.45s"
		>
			<a href="#" class="btn flex items-center">
				<Mail class="size-5" />
				Contáctame
			</a>
			<a href="#" class="btn flex items-center">
				<LinkedIn class="size-5" />
				LinkedIn
			</a>
			<a href="#" class="btn hidden items-center md:flex">
				<GitHub class="size-5" />
				GitHub
			</a>
		</div>
	</div>

	<div
		class="hidden animate-fade-in-up md:block"
		style="animation-duration: 0.35s"
	>
		<Image
			src="https://cdnb.artstation.com/p/assets/images/images/043/815/005/large/marco-cardona-jr-118.jpg?1638326646"
			alt=""
			width={100}
			height={100}
			class="w-60"
		/>
	</div>
</section>
