---
import { CommandDemo } from "@/components/command-about"
import GitHub from "@/icons/github.astro"
import LinkedIn from "@/icons/linkedin.astro"
import Mail from "@/icons/mail.astro"
import { Image } from "astro:assets"
---

<section class="flex h-screen gap-20 pb-10 pt-24">
	<div class="flex w-min flex-col justify-between font-oxanium">
		<h1 class="text-8xl font-black leading-none">
			Diego Cruz
			<span
				class="-ml-3 inline-flex size-4 animate-fade-in-up items-center justify-center animate-duration-200"
			>
				<span
					class="absolute inline-flex h-full w-full animate-spin rounded-full bg-foreground opacity-75 animate-iteration-count-infinite"
				></span>
				<span
					class="relative inline-flex h-full w-full rounded-full bg-foreground"
				></span>
			</span>
		</h1>

		<div class="w-min space-y-1 whitespace-nowrap font-medium">
			<h2 class="text-lg">Desarrollador de Software</h2>
			<hr class="border-primary" />
			<p class="text-base">@diegosiac</p>
		</div>

		<div class="flex items-center gap-2">
			<span class="text-6xl font-bold">+1</span>

			<div class="text-sm font-bold">
				<p>Año de</p>
				<span>experiencia</span>
			</div>
		</div>
	</div>

	<div class="relative hidden w-full sm:block">
		<Image
			src="https://www.distritomax.com/cdn/shop/products/funko-pop-chukie-los-rugrats_1000x1000.png?v=1646928608"
			alt="Foto de perfil de Diego Cruz"
			width={300}
			height={300}
			class="absolute bottom-0 left-[35px] h-[600px] w-[700px] animate-fade-in-up object-cover animate-duration-200"
		/>
		<p
			class="absolute left-3 top-[215px] flex max-w-[30ch] flex-col font-oxanium text-xs leading-tight"
		>
			<span class="pb-2 font-tourney text-base"> X/DIEGOSIAC </span>

			Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quasi maxime
			iste
		</p>

		<CommandDemo client:only="react" />

		<p
			class="absolute right-0 top-0 flex rotate-90 flex-col border-b border-foreground font-oxanium text-xl font-medium leading-tight"
		>
			X-SIAC
			<span>MATERIALES</span>
			<span>DE CREACIÓN</span>
		</p>

		<div
			class="absolute bottom-0 right-0 flex animate-fade-in-up flex-col gap-5 p-4 animate-duration-200"
		>
			<a
				href="#"
				target="_blank"
				class="flex items-center transition-colors hover:text-background"
			>
				<Mail class="size-6" />
			</a>
			<a
				href="https://www.linkedin.com/in/diegosiac/"
				target="_blank"
				class="flex items-center transition-colors hover:text-background"
			>
				<LinkedIn class="size-6" />
			</a>
			<a
				href="https://github.com/diegosiac"
				target="_blank"
				class="flex items-center transition-colors hover:text-background"
			>
				<GitHub class="size-6" />
			</a>
		</div>

		<div
			class="absolute bottom-0 -z-10 h-1/2 w-full rounded-xl bg-orange/70 shadow-xl backdrop-blur-md"
		>
			<div class="bg-image size-full dark:invert"></div>
		</div>
	</div>

	<div class="framer" style="transform: translateX(-50%);">
		<Image
			class="opacity-90 invert dark:opacity-45 dark:invert-0"
			src="/images/backgrounds/Vv1CCa0nUgZDiVRn6YGpyBM.png"
			alt="Image de decoración de fondo"
			width={1400}
			height={1247}
			style="display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;"
		/>
	</div>
</section>

<style>
	.framer {
		aspect-ratio: 1.12269 / 1;
		flex: 0 0 auto;
		height: 1247px;
		left: 50%;
		overflow: visible;
		position: absolute;
		top: 0px;
		width: 1400px;
		z-index: -40;
	}

	.bg-image {
		background-image: url("/public/images/backgrounds/mr-robot.png");
		background-position: 420px -100px;
		background-repeat: no-repeat;
		background-size: 300px;
	}
</style>
