---
import CodeAsterix from "../icons/code-asterix.astro"
---

<section class="mt-20">
	<h2 class="flex items-center gap-5 text-2xl font-bold">
		<CodeAsterix class="size-8 stroke-2" /> Mis Proyectos
	</h2>

	<div class="mt-5">
		<h1 class="siu">adfasfd</h1>
	</div>
</section>

<style>
	.revealing-image {
		animation: reveal3a linear both;
		animation-timeline: view() !important;
		animation-range: entry 5% cover 30% !important;
	}

	.reveal {
		animation: linear reveal3a both;
		animation-timeline: view();
		animation-range: entry 20% cover 100%;
	}

	.siu {
		view-timeline-name: --hola;
		view-timeline-axis: block;

		animation-timeline: --hola;
		animation-name: reveal3a;

		animation-range: entry 20% cover 30%;
		animation-fill-mode: both;
	}

	@keyframes reveal3a {
		0% {
			opacity: 0;
			/* translate: 0 100px; */
			color: orange !important;
		}
		50% {
			color: green;
			opacity: 0.1;
		}
		100% {
			color: red !important;
			opacity: 1;
			/* translate: 0 0; */
		}
	}
</style>
