---
import Tool from "@/icons/tool.astro"
---

<section class="mt-20">
	<h2 class="flex items-center gap-5 text-2xl font-bold">
		<Tool class="size-8 stroke-2" /> Mi Stack de Desarrollo
	</h2>

	<div class="mt-5"></div>
</section>
