---
import { TextRevealByWord } from "@/components/ui/TextReveal"
---

<section class="">
	<TextRevealByWord
		client:only="preact"
		text="Desarrollador loco de software buscando las mejores soluciones"
	/>
</section>
