---
import "@fontsource-variable/onest"
import "@fontsource-variable/oxanium"
import "@fontsource-variable/tourney"

import { ClientRouter } from "astro:transitions"
import { Header } from "@/components/Header"
import Footer from "@/components/Footer.astro"
import NoiseBackground from "@/components/NoiseBackground.astro"

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<script is:inline>
			function setDarkMode(document) {
				const theme = localStorage.getItem("theme") ?? "dark"

				document.documentElement.classList.toggle(
					"dark",
					theme.includes("dark")
				)
			}

			setDarkMode(document)

			document.addEventListener("astro:before-swap", (ev) => {
				setDarkMode(ev.newDocument)
			})

			document.addEventListener("astro:page-load", () => {
				window.getThemePreference = () => {
					const localItem =
						typeof localStorage !== "undefined" && localStorage.getItem("theme")

					if (localItem) return localItem

					return window.matchMedia("(prefers-color-scheme: dark)").matches
						? "dark"
						: "light"
				}
			})
		</script>

		<ClientRouter />
	</head>
	<body class="relative bg-background text-foreground">
		<Header client:only="react" />
		<NoiseBackground />
		<main>
			<slot />
		</main>
		<Footer />
		<style is:global>
			:root {
				--background: 50 16% 93%;
				--foreground: 0 4% 10%;

				--accent: 210 40% 96.1%;
				--accent-foreground: 222.2 47.4% 11.2%;

				--muted: 210 40% 96.1%;
				--muted-foreground: 215.4 16.3% 46.9%;

				--popover: 0 0% 100%;
				--popover-foreground: 222.2 47.4% 11.2%;

				--border: 60 3% 14%;
				--input: 214.3 31.8% 91.4%;

				--ring: 215 20.2% 65.1%;

				--radius: 0.5rem;

				--primary: 60 3% 14%;
				--primary-foreground: 60 3% 14%;

				--color-secondary: 43 64% 98%;

				--color-orange: 36 100% 62%;

				--color-green: #5ad539;

				--color-primary-blur: #24242238;
				--color-secondary-blur: #fdfbf630;

				--background-track-scroll: #242422;
				--background-corner-scroll: #242422;

				--background-color: #fdfbf6;

				--box-shadow-glows: #b4b4b480;

				--background-image: radial-gradient(
						circle at 10% 20%,
						#ffa41755,
						transparent 70%
					),
					radial-gradient(circle at 90% 80%, #b5813355, transparent 70%),
					radial-gradient(circle at 50% 50%, #ffa41755, transparent 80%),
					radial-gradient(circle at 20% 80%, #b5813355, transparent 80%),
					radial-gradient(circle at 80% 10%, #242422, transparent 60%);
			}

			.dark {
				--background: 19 14% 6%;
				--foreground: 49 14% 85%;

				--muted: 37 10% 79%;
				--muted-foreground: 215.4 16.3% 56.9%;

				--accent: 216 34% 17%;
				--accent-foreground: 210 40% 98%;

				--popover: 224 71% 4%;
				--popover-foreground: 215 20.2% 65.1%;

				--border: 43 64% 98%;
				--input: 216 34% 17%;

				--ring: 216 34% 17%;

				--radius: 0.5rem;

				--primary: 43 64% 98%;
				--primary-foreground: 43 64% 98%;

				--color-secondary: 60 3% 14%;

				--color-orange: 36 100% 61%;

				--color-primary-blur: #fdfbf630;
				--color-secondary-blur: #2424226e;

				--background-corner-scroll: #242422;
				--background-track-scroll: #242422;

				--background-image: radial-gradient(
						circle at 10% 20%,
						#ffa41755,
						transparent 70%
					),
					radial-gradient(circle at 90% 80%, #b5813355, transparent 70%),
					radial-gradient(circle at 50% 50%, #ffa41755, transparent 80%),
					radial-gradient(circle at 20% 80%, #b5813355, transparent 80%),
					radial-gradient(circle at 80% 10%, #242422, transparent 60%);

				--background-color: #242422;
			}

			* {
				@apply border-border;
			}

			body {
				font-feature-settings:
					"rlig" 1,
					"calt" 1;
			}

			html {
				font-family: "Onest Variable", system-ui, sans-serif;
				overflow-x: hidden;
				overscroll-behavior: none;
			}

			main {
				position: relative;
			}

			@media screen and (prefers-reduced-motion: no-preference) {
				html {
					scroll-behavior: smooth;
				}
			}

			/* Hiding class, making content visible only to screen readers but not visually */
			/* "sr" meaning "screen-reader" */
			.sr-only:not(:focus):not(:active) {
				clip: rect(0 0 0 0);
				clip-path: inset(50%);
				height: 1px;
				overflow: hidden;
				position: absolute;
				white-space: nowrap;
				width: 1px;
			}

			::-webkit-scrollbar {
				width: 10px;
				border-radius: 10px;
			}

			::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background-color: theme("colors.primary.DEFAULT");
				border: 2px solid transparent;
				background-clip: content-box;
			}

			::-webkit-scrollbar-track {
				background: theme("colors.secondary");
			}

			::-webkit-scrollbar-corner {
				background: theme("colors.primary.DEFAULT");
			}

			.btn {
				@apply gap-2 rounded-md bg-secondary px-3 py-2;
			}

			.card-glowing {
				background: linear-gradient(270deg, #7a7a7a33, #f000 60.71%),
					linear-gradient(0deg, #7a7a7a33, #0f00 60.71%),
					linear-gradient(90deg, #7a7a7a33, #00f0 60.71%);
			}

			#header-nav {
				animation: header linear both;
				animation-timeline: scroll();
				animation-range: 0 500px;
			}

			@keyframes header {
				to {
					background-color: var(--color-primary-blur);
					backdrop-filter: blur(12px);
				}
			}

			.reveal {
				animation: reveal linear both;
				animation-timeline: view();
				animation-range: entry 20% cover 30%;
			}

			@keyframes reveal {
				0% {
					transform: translate(0, 100px);
				}
				50% {
				}
				100% {
					transform: translate(0, 0);
				}
			}
		</style>
	</body>
</html>
